@font-face {
  font-family: 'Futura Book';
  src: url("../fonts/FuturaBookC.woff") format("woff"), url("../fonts/FuturaBookC.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'Futura Demi';
  src: url("../fonts/FuturaDemiC.woff") format("woff"), url("../fonts/FuturaDemiC.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Futura Book',  sans-serif;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1290px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  font-family: 'Futura Demi', sans-serif;
  background-color: #E3B873;
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 500;
  font-style: italic;
  text-transform: uppercase;
  padding: 1.1rem 0 1.1rem;
  border: 1px solid #E3B873;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.btn:hover {
  background-color: transparent;
  border: 1px solid #fff;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #fff;
}

.btn-outline:hover {
  border: 1px solid #E3B873;
  background-color: #E3B873;
}

.hiden {
  display: none;
}

.show {
  display: block;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 8.3rem;
  padding: 2.4rem 0 2.2rem;
  background-color: #131313;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn {
  min-width: 16.1rem;
}

.header__logo {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #E3B873;
}

.header__phone {
  margin-right: 4.5rem;
  color: #E3B873;
  border-bottom: 1px solid #E3B873;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li + li {
  margin-left: 4rem;
}

.menu__link {
  font-family: 'Futura Demi', sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.page {
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 780px;
  background-color: #131313;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__link {
  display: inline-block;
  font-family: 'Futura Demi', sans-serif;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 400;
  color: #E3B873;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  position: relative;
  padding-right: 50px;
}

.sidebar__link::after {
  content: '';
  position: absolute;
  height: 51px;
  width: 1.5px;
  right: 0;
  top: -80%;
  background-color: #E3B873;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media (max-width: 1130px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 1040px) {
  .header__phone {
    margin-right: 2rem;
    display: inline-block;
    font-size: 0px;
    background: url("images/header/phone.svg") no-repeat;
    height: 22px;
    width: 22px;
    border: none;
  }
  .header__column:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 998px) {
  .header__logo {
    position: relative;
    z-index: 10;
  }
  .header__phone {
    position: relative;
    z-index: 10;
  }
  .header__btn {
    position: relative;
    z-index: 10;
  }
  .header__column:nth-child(2) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .menu__icon {
    z-index: 10;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
  }
  .menu__icon::before, .menu__icon::after,
  .menu__icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::after, .menu__icon::before {
    content: '';
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon.active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon.active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon.active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__link {
    font-size: 2.3rem;
    line-height: 3rem;
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 9rem 3rem 3rem 3rem;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 8rem;
    width: 100%;
    background-color: #131313;
    z-index: 5;
  }
  .menu__body.active {
    left: 0;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list li + li {
    margin-left: 0;
    margin-top: 1.5rem;
    font-size: 2rem;
  }
}

@media (max-width: 490px) {
  .header__btn {
    display: none;
  }
  .menu__btn {
    margin-top: 2rem;
  }
  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main {
  padding-top: 8.3rem;
}

.hero {
  position: relative;
  padding: 19rem 0 20.4rem;
  background: url("images/hero/hero-bg.jpg") no-repeat left top/cover;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.hero__container {
  position: relative;
}

.hero__inner {
  margin-left: 10%;
}

.hero__titel {
  max-width: 50rem;
  margin-bottom: 2rem;
  font-family: 'Yeseva One', cursive;
  font-size: 4rem;
  line-height: 5.3rem;
  text-transform: uppercase;
  color: #fff;
}

.hero__titel span {
  color: #E3B873;
}

.hero__text {
  margin-bottom: 4rem;
  max-width: 50rem;
  font-size: 2.3rem;
  line-height: 3rem;
  color: #fff;
}

.hero__btn {
  min-width: 20.7rem;
  padding: 1.7rem 0 1.8rem;
}

.hero__btn + a {
  margin-left: 2rem;
}

@media (max-width: 1200px) {
  .hero {
    padding: 14rem 0 13rem;
  }
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__inner {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 10rem 0 11rem;
  }
  .hero__titel {
    max-width: 32rem;
    font-size: 2.3rem;
    line-height: 3rem;
  }
  .hero__text {
    max-width: 32rem;
    font-size: 1.8rem;
    line-height: 130%;
  }
  .hero__btn {
    min-width: 33.8rem;
    display: block;
  }
  .hero__btn + a {
    margin: 0;
    margin-top: 2rem;
  }
}

@media (max-width: 740px) {
  .sidebar {
    display: none;
  }
}

.portfolio {
  padding: 15rem 0;
  background-color: #131313;
  color: #fff;
}

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__titel {
  margin-bottom: 4rem;
  font-family: 'Yeseva One', cursive;
  font-size: 2.7rem;
  line-height: 3.7rem;
  text-transform: uppercase;
  color: #E3B873;
}

.portfolio__titel span {
  display: block;
  position: relative;
}

.portfolio__titel span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 170px;
  width: 91px;
  height: 1px;
  background-color: #E3B873;
}

.portfolio__text {
  margin-bottom: 4rem;
  max-width: 44.2rem;
  font-size: 1.8rem;
  line-height: 2.9rem;
}

.container__column:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 36.9%;
          flex: 0 1 36.9%;
}

.container__column:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
  overflow: hidden;
  -webkit-transform: translateX();
      -ms-transform: translateX();
          transform: translateX();
}

.slider__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.slider__img {
  background: url("images/portfolio/portfolio-img.jpg") no-repeat center/cover;
  height: 482px;
}

.slider__titel {
  margin-bottom: 1rem;
  font-family: 'Yeseva One', cursive;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #E3B873;
  text-transform: uppercase;
}

.slider__info {
  font-size: 1.5rem;
  line-height: 2rem;
}

.slider__info span {
  display: block;
}

.slider__list {
  margin-bottom: 6.58rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
}

.slider__list li:nth-child(3), .slider__list li:nth-child(4) {
  margin-top: 3rem;
}

.slider__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__tabs {
  margin: 0 7%;
}

.slider__tab {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #959595;
  border-radius: 50%;
}

.slider__tab + span {
  margin-left: 1.5rem;
}

.slider__tab.active {
  background-color: #fff;
}

@media (max-width: 1200px) {
  .portfolio__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container__column:nth-child(2) {
    width: 80%;
  }
  .container__column:nth-child(1) {
    margin-bottom: 3rem;
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
}

@media (max-width: 570px) {
  .portfolio__container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
