@font-face {
  font-family: 'Futura Book';
  src: url("../fonts/FuturaBookC.woff") format("woff"), url("../fonts/FuturaBookC.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'Futura Demi';
  src: url("../fonts/FuturaDemiC.woff") format("woff"), url("../fonts/FuturaDemiC.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Futura Book',  sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1290px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  font-family: 'Futura Demi', sans-serif;
  background-color: #E3B873;
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 500;
  font-style: italic;
  text-transform: uppercase;
  padding: 1.1rem 2rem 1.1rem;
  border: 1px solid #E3B873;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.btn:hover {
  background-color: transparent;
  border: 1px solid #fff;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #fff;
}

.btn-outline:hover {
  border: 1px solid #E3B873;
  background-color: #E3B873;
}

.hiden {
  display: none;
}

.show {
  display: block;
}

.titel {
  margin-bottom: 1rem;
  font-family: 'Yeseva One', cursive;
  font-size: 2rem;
  line-height: 2.8rem;
  text-transform: uppercase;
  color: #fff;
}

.subtitel span {
  display: inline-block;
  position: relative;
  padding: 0 40px 0 45px;
  margin-bottom: 2rem;
}

.subtitel span::before, .subtitel span::after {
  content: '';
  position: absolute;
  height: 1.5px;
  width: 32px;
  background-color: #E3B873;
  top: 50%;
}

.subtitel span::after {
  right: 0;
}

.subtitel span::before {
  left: 0;
}

.checkbox {
  position: relative;
  display: inline-block;
  padding-left: 2.3rem;
}

.checkbox::before, .checkbox::after {
  content: '';
  position: absolute;
}

.checkbox::before {
  left: 0;
  top: -2px;
  width: 18px;
  height: 18px;
  background-color: #E3B873;
}

.checkbox::after {
  left: 4px;
  top: 4px;
  width: 10px;
  height: 8px;
  background: url("images/video/check.svg") no-repeat center/cover;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.input-checkbox {
  display: none;
}

.input-checkbox:checked + .checkbox:after {
  opacity: 1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 8.3rem;
  padding: 2.4rem 0 2.2rem;
  background-color: #131313;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn {
  min-width: 16.1rem;
}

.header__logo {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #E3B873;
}

.header__phone {
  margin-right: 4.5rem;
  color: #E3B873;
  border-bottom: 1px solid #E3B873;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li + li {
  margin-left: 4rem;
}

.menu__link {
  font-family: 'Futura Demi', sans-serif;
  text-transform: uppercase;
  color: #fff;
}

.page {
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 780px;
  background-color: #131313;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__link {
  display: inline-block;
  font-family: 'Futura Demi', sans-serif;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 400;
  color: #E3B873;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  position: relative;
  padding-right: 50px;
}

.sidebar__link::after {
  content: '';
  position: absolute;
  height: 51px;
  width: 1.5px;
  right: 0;
  top: -80%;
  background-color: #E3B873;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media (max-width: 1130px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 1040px) {
  .header__phone {
    margin-right: 2rem;
    display: inline-block;
    font-size: 0px;
    background: url("images/header/phone.svg") no-repeat;
    height: 22px;
    width: 22px;
    border: none;
  }
  .header__column:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 998px) {
  .header__logo {
    position: relative;
    z-index: 10;
  }
  .header__phone {
    position: relative;
    z-index: 10;
  }
  .header__btn {
    position: relative;
    z-index: 10;
  }
  .header__column:nth-child(2) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .menu__icon {
    z-index: 10;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
  }
  .menu__icon::before, .menu__icon::after,
  .menu__icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::after, .menu__icon::before {
    content: '';
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon.active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon.active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon.active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__link {
    font-size: 2.3rem;
    line-height: 3rem;
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 9rem 3rem 3rem 3rem;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 8rem;
    width: 100%;
    background-color: #131313;
    z-index: 5;
  }
  .menu__body.active {
    left: 0;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list li + li {
    margin-left: 0;
    margin-top: 1.5rem;
    font-size: 2rem;
  }
}

@media (max-width: 490px) {
  .header__btn {
    display: none;
  }
  .menu__btn {
    margin-top: 2rem;
  }
  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main {
  padding-top: 8.3rem;
}

.hero {
  position: relative;
  padding: 19rem 0 20.4rem;
  background: url("images/hero/hero-bg.jpg") no-repeat left top/cover;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.hero__container {
  position: relative;
}

.hero__inner {
  margin-left: 10%;
}

.hero__titel {
  max-width: 50rem;
  margin-bottom: 2rem;
  font-family: 'Yeseva One', cursive;
  font-size: 4rem;
  line-height: 5.3rem;
  text-transform: uppercase;
  color: #fff;
}

.hero__titel span {
  color: #E3B873;
}

.hero__text {
  margin-bottom: 4rem;
  max-width: 50rem;
  font-size: 2.3rem;
  line-height: 3rem;
  color: #fff;
}

.hero__btn {
  min-width: 20.7rem;
  padding: 1.7rem 0 1.8rem;
}

.hero__btn + a {
  margin-left: 2rem;
}

@media (max-width: 1200px) {
  .hero {
    padding: 14rem 0 13rem;
  }
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__inner {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 10rem 0 11rem;
  }
  .hero__titel {
    max-width: 32rem;
    font-size: 2.3rem;
    line-height: 3rem;
  }
  .hero__text {
    max-width: 32rem;
    font-size: 1.8rem;
    line-height: 130%;
  }
  .hero__btn {
    min-width: 33.8rem;
    display: block;
  }
  .hero__btn + a {
    margin: 0;
    margin-top: 2rem;
  }
}

@media (max-width: 840px) {
  .sidebar {
    display: none;
  }
}

.portfolio {
  padding: 15rem 0 30rem;
  background-color: #131313;
  color: #fff;
}

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__titel {
  margin-bottom: 4rem;
  font-family: 'Yeseva One', cursive;
  font-size: 2.7rem;
  line-height: 3.7rem;
  text-transform: uppercase;
  color: #E3B873;
}

.portfolio__titel span {
  display: block;
  position: relative;
}

.portfolio__titel span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 170px;
  width: 91px;
  height: 1px;
  background-color: #E3B873;
}

.portfolio__text {
  margin-bottom: 4rem;
  max-width: 44.2rem;
  font-size: 1.8rem;
  line-height: 2.9rem;
}

.container__column:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 36.9%;
          flex: 0 1 36.9%;
}

.container__column:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
  overflow: hidden;
  -webkit-transform: translateX();
      -ms-transform: translateX();
          transform: translateX();
}

.slider__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.slider__img {
  background: url("images/portfolio/portfolio-img.jpg") no-repeat center/cover;
  height: 482px;
}

.slider__titel {
  margin-bottom: 1rem;
  font-family: 'Yeseva One', cursive;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #E3B873;
  text-transform: uppercase;
}

.slider__info {
  font-size: 1.5rem;
  line-height: 2rem;
}

.slider__info span {
  display: block;
}

.slider__list {
  margin-bottom: 6.58rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
}

.slider__list li:nth-child(3), .slider__list li:nth-child(4) {
  margin-top: 3rem;
}

.slider__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__tabs {
  margin: 0 7%;
}

.slider__tab {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #959595;
  border-radius: 50%;
}

.slider__tab + span {
  margin-left: 1.5rem;
}

.slider__tab.active {
  background-color: #fff;
}

@media (max-width: 1200px) {
  .portfolio__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container__column:nth-child(2) {
    width: 80%;
  }
  .container__column:nth-child(1) {
    margin-bottom: 3rem;
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
}

@media (max-width: 570px) {
  .portfolio__container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.video {
  padding-bottom: 15rem;
}

.video__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video__column {
  margin-top: -22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__box {
  position: relative;
  margin-bottom: 6.2rem;
  max-width: 100%;
}

.video__box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.video__btn {
  position: absolute;
  top: 41%;
  left: 46%;
  width: 85px;
  height: 85px;
  background-color: #E3B873;
  border-radius: 50%;
  border: none;
}

.video__text {
  position: relative;
  margin-bottom: 6rem;
  padding-top: 3.2rem;
  max-width: 57.1rem;
  font-size: 2rem;
  line-height: 3.4rem;
  text-align: center;
}

.video__text::before {
  content: '';
  position: absolute;
  height: 1.5px;
  width: 52px;
  background-color: #E3B873;
  top: 0;
  left: 50%;
}

.form-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-video__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 3.3rem;
}

.form-video__top label + label {
  margin-left: 5.7rem;
  margin-right: 5rem;
}

.form-video__input {
  min-width: 23.1rem;
  padding: 1rem 0;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  background-color: transparent;
}

.form-video__input::-webkit-input-placeholder {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.form-video__input::-moz-placeholder {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.form-video__input:-ms-input-placeholder {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.form-video__input::-ms-input-placeholder {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.form-video__input::placeholder {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.form-video__name, .form-video__number {
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgba(54, 54, 54, 0.5);
}

.form-video__btn {
  min-width: 20rem;
  padding: 1.8rem 0 1.6rem;
}

@media (max-width: 768px) {
  .video {
    background-color: #131313;
    color: #fff;
  }
  .video__btn {
    width: 60px;
    height: 60px;
  }
  .form-video__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .form-video__top label + label {
    margin: 2rem  0;
  }
  .form-video__input {
    border-bottom: 1px solid #fff;
    color: #fff;
  }
  .form-video__input:placeholder {
    color: #fff;
  }
  .form-video__name, .form-video__number {
    color: #fff;
  }
  .form-video__btn {
    min-width: 23.1rem;
  }
}

.repairs {
  padding-bottom: 12rem;
}

.repairs__container {
  max-width: 1250px;
  padding: 0 10px;
}

.repairs__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.repairs__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
}

.repairs__column:nth-child(2) {
  margin: 0 0.5rem;
}

.repairs__titel {
  color: #131313;
  text-align: center;
}

.repairs__subtitel {
  text-align: center;
}

.repairs__imgs {
  position: relative;
}

.types-repairs {
  position: absolute;
  background-color: #fff;
  top: 68%;
  left: 10%;
  padding: 2.5rem 6.8rem 0rem 3.4rem;
}

.types-repairs__titel {
  font-family: 'Yeseva One', cursive;
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-bottom: 1.3rem;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.types-repairs__list {
  margin-bottom: 2.3rem;
}

.types-repairs__type {
  padding-left: 1.2rem;
  position: relative;
}

.types-repairs__type::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  left: 0;
  top: 35%;
  border-radius: 50%;
  background-color: #959595;
}

.types-repairs__type + li {
  margin-top: 1rem;
}

.types-repairs__btn {
  min-width: 22.8rem;
  margin: 0 0 -25px -30px;
}

@media (max-width: 1078px) {
  .repairs__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .repairs__column:nth-child(1) {
    margin-right: auto;
  }
  .repairs__column:nth-child(3) {
    margin-top: 17rem;
  }
}

@media (max-width: 768px) {
  .repairs__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .repairs__column:nth-child(2) {
    margin-top: 17rem;
  }
}

.stages {
  padding: 25rem 0 15rem;
  background: url("images/stages/stages__bg.jpg") -25px no-repeat;
}

.stages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stages__column:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58%;
          flex: 0 0 58%;
  padding-left: 10rem;
}

.stages__column:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42%;
          flex: 0 0 42%;
}

.stages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Futura Demi', sans-serif;
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 500;
  max-width: 49rem;
}

.stages__item:nth-child(2) {
  margin: 8rem  0 0 7.7rem;
}

.stages__item:nth-child(3) {
  margin: 14rem  0 0 10.7rem;
}

.stages__item:nth-child(4) {
  margin: 12.5rem  0 0 3.7rem;
  max-width: 35rem;
}

.stages__item-number {
  font-family: 'Yeseva One', cursive;
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-right: 2.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  width: 42px;
  height: 42px;
  background-color: #E3B873;
  border-radius: 50%;
  color: #fff;
}

.stages__sale {
  position: relative;
  max-width: 40rem;
  padding-left: 9.7rem;
  font-family: 'Futura Demi', sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  fonte-weight: 500;
  color: #E3B873;
}

.stages__sale::before {
  content: '';
  position: absolute;
  left: 0;
  top: -10px;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  background-color: #E3B873;
  background-image: url("images/stages/sale.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.form-stages {
  margin-bottom: 3.8rem;
  padding: 2.8rem 4.9rem 2.7rem;
  background-color: #131313;
  color: #fff;
}

.form-stages__titel {
  margin-bottom: 4rem;
  font-family: 'Futura Demi', sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
}

.form-stages__inputs {
  margin-bottom: 1.5rem;
}

.form-stages__inputs label {
  display: block;
}

.form-stages__inputs label + label {
  display: block;
  margin-top: 4.8rem;
}

.form-stages__input {
  padding: 1rem 0;
  min-width: 40.8rem;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  background-color: transparent;
  color: #fff;
}

.form-stages__input::-webkit-input-placeholder {
  font-family: 'Futura Demi', sans-serif;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #fff;
}

.form-stages__input::-moz-placeholder {
  font-family: 'Futura Demi', sans-serif;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #fff;
}

.form-stages__input:-ms-input-placeholder {
  font-family: 'Futura Demi', sans-serif;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #fff;
}

.form-stages__input::-ms-input-placeholder {
  font-family: 'Futura Demi', sans-serif;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #fff;
}

.form-stages__input::placeholder {
  font-family: 'Futura Demi', sans-serif;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #fff;
}

.form-stages__inner {
  margin-bottom: 2rem;
}

.form-stages__name, .form-stages__phone, .form-stages__email {
  color: rgba(255, 255, 255, 0.5);
}

.form-stages__btns {
  text-align: right;
}

.form-stages__btn {
  padding: 1.8rem 2rem;
}

.works {
  position: relative;
  background: url("images/works/work-bg.jpg") no-repeat left top/cover;
}

.works::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.works__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.works__titel {
  font-family: 'Yeseva One', cursive;
  font-size: 2.7rem;
  line-height: 3.7rem;
  color: #E3B873;
  text-transform: uppercase;
  margin-bottom: 4.4rem;
}

.works__item {
  font-family: 'Futura Demi', sans-serif;
  font-size: 2rem;
  line-height: 172%;
  font-weight: 500;
}

.works__item + li {
  margin-top: 2.3rem;
}
