html 
    box-sizing: border-box
    font-size: 10px

*,
*::before,
*::after 
    box-sizing: inherit


body 
  font-family: 'Futura Book',  sans-serif
  font-size: 1.4rem


a 
 text-decoration: none


ul
  margin: 0
  padding: 0
  list-style: none

li
  margin: 0
